Lambda School Data Science

*Unit 2, Sprint 3, Module 2*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '/data/'

In [2]:
# import pandas as pd

# file = 'Downloads/Dirt_Oval_B_and_above.csv'

# df = pd.read_csv(file, encoding='latin-1')
# df.head()

,Pos,Driver,Location,Region,Club,Starts,Wins,Avg Start,Avg Finish,Avg Pts per Race,...,Avg Field Size,Laps,Laps Lead,Avg Inc,Class,iRating,ttRating,Club Pts,Total Pts,CustId
0,1,Blake Matjoulis,US,Region 1,New York,854,533,3,2,139,...,14,31716,19687,1.31,P 4.99,9361,1350,14275,118383,273418
1,2,Dillon Semmelmann,US,Region 3,Midwest,1857,1183,2,3,135,...,15,60376,40022,2.19,P 3.49,9110,1329,10306,250122,270914
2,3,Evan Seay,US,Region 1,Carolina,935,320,4,4,117,...,14,34052,13097,1.90,P 4.37,8868,1235,5018,109414,330143
3,4,Alex A Bergeron,CA,Region 2,Canada,1397,898,3,2,127,...,14,46674,28271,1.52,P 4.52,8557,1377,29758,177230,246298
4,5,Zack McSwain,US,Region 1,Carolina,1030,513,3,3,131,...,14,37816,18810,1.21,P 4.47,8421,1299,4556,134695,366325

In [ ]:
# df = df[df['Avg Start'] !=0]
# df = df[df['Avg Finish'] !=0]
# df = df[df['Total Pts'] !=0]

In [2]:
# Read New York City property sales data
import pandas as pd
df = pd.read_csv('DS-Unit-2-Applied-Modeling/data/condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

In [3]:
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

Your code starts here:

In [4]:
# Change column names: replace spaces with underscores
df = df.rename(columns={'BUILDING CLASS AT PRESENT': 'BUILDING_CLASS_AT_PRESENT',
                  'APARTMENT NUMBER':'APARTMENT_NUMBER',
                  'RESIDENTIAL UNITS':'RESIDENTIAL_UNITS',
                  'COMMERCIAL UNITS':'COMMERCIAL_UNITS',
                        'TOTAL UNITS':'TOTAL_UNITS',
                       'LAND SQUARE FEET':'LAND_SQUARE_FEET',
                       'GROSS SQUARE FEET':'GROSS_SQUARE_FEET',
                       'YEAR BUILT':'YEAR_BUILT',
                       'TAX CLASS AT TIME OF SALE':'TAX_CLASS_AT_TIME_OF_SALE',
                       'BUILDING CLASS AT TIME OF SALE':'BUILDING_CLASS_AT_TIME_OF_SALE',
                       'SALE PRICE':'SALE_PRICE',
                       'SALE DATE':'SALE_DATE'})

In [5]:
# Get Pandas Profiling Report
import pandas_profiling
df.profile_report()

ModuleNotFoundError: No module named 'pandas_profiling'

In [6]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)
tribeca_df = df[df['NEIGHBORHOOD'] == "TRIBECA"]
tribeca_df.shape

(146, 21)

In [7]:
# Q. What's the date range of these property sales in Tribeca?

#First, make them dates.
tribeca_df['SALE_DATE'] = pd.to_datetime(tribeca_df['SALE_DATE'], infer_datetime_format=True)

tribeca_df['SALE_DATE'].describe()

<ipython-input-7-6280a9e303ac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tribeca_df['SALE_DATE'] = pd.to_datetime(tribeca_df['SALE_DATE'], infer_datetime_format=True)

count                     146
unique                     66
top       2019-02-12 00:00:00
freq                       17
first     2019-01-03 00:00:00
last      2019-04-30 00:00:00
Name: SALE_DATE, dtype: object

In [8]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers

tribeca_df['SALE_PRICE'] = tribeca_df['SALE_PRICE'].str.replace('$','')
tribeca_df['SALE_PRICE'] = tribeca_df['SALE_PRICE'].str.replace('-','')
tribeca_df['SALE_PRICE'] = tribeca_df['SALE_PRICE'].str.replace(',','')
tribeca_df['SALE_PRICE'] = tribeca_df['SALE_PRICE'].astype(int)

<ipython-input-8-fa14b0cadb0f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tribeca_df['SALE_PRICE'] = tribeca_df['SALE_PRICE'].str.replace('$','')
<ipython-input-8-fa14b0cadb0f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tribeca_df['SALE_PRICE'] = tribeca_df['SALE_PRICE'].str.replace('-','')
<ipython-input-8-fa14b0cadb0f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tribeca_df['SALE_PRICE'] = tribeca_df['SALE_PRICE'].str.replace(',','')
<ipython-input-8-fa14b0cadb0f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tribeca_df['SALE_PRICE'] = tribeca_df['SALE_PRICE'].astype(int)

In [10]:
# Q. What is the maximum SALE_PRICE in this dataset?
tribeca_df['SALE_PRICE'].max()

260000000

In [13]:
# Look at the row with the max SALE_PRICE
tribeca_df.query('SALE_PRICE==260000000')

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING_CLASS_AT_PRESENT,ADDRESS,APARTMENT_NUMBER,...,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALE_PRICE,SALE_DATE
6499,1,TRIBECA,08 RENTALS - ELEVATOR APARTMENTS,2,224,1,NaN,D8,34 DESBROSSES STREET,NaN,...,283.0,3.0,286.0,"36,858",305542.0,2007.0,2,D8,260000000,2019-02-01

In [14]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?
tribeca_df['TOTAL_UNITS'].value_counts()

1.0      131
0.0       11
5.0        1
286.0      1
8.0        1
3.0        1
Name: TOTAL_UNITS, dtype: int64

In [15]:
# Keep only the single units
single_df = tribeca_df[tribeca_df['TOTAL_UNITS']==1]

In [16]:
single_df.shape

(131, 21)

In [17]:
# Q. Now what is the max sales price? How many square feet does it have?
single_df['SALE_PRICE'].max()

39285000

In [ ]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children.

In [ ]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?

In [ ]:
# What are the building class categories?
# How frequently does each occur?

In [ ]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)

In [ ]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE

In [ ]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [ ]:
# Look at sales for more than $35 million

# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?
# Is this dirty data?

In [ ]:
# Make a judgment call:
# Keep rows where sale price was < $35 million

# Check how many rows you have now. (Should be down to 90 rows.)

In [ ]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline

In [ ]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.